<p>form works!</p>
<input type = "text" placeholder="Codice" [(ngModel)] = "prodotto.codice"
[disabled]= "!codiceVisible">
<input type = "text" placeholder="Descrizione" [(ngModel)] = "prodotto.descrizione" 
[disabled]= "!descrizioneVisible">
<br>
<button (click) = "modifica()" [disabled]= "!modificaVisible">Modifica</button>
<button (click) = "conferma()" [disabled]= "!confermaVisible">Conferma</button>
<button (click) = "annulla()" [disabled]= "!annullaVisible">Annulla</button>
<button (click) = "rimuovi()" [disabled]= "!rimuoviVisible">Rimuovi</button>